@font-face {
    font-family: "nanumMyeongjoEco";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumMyeongjoEco";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumMyeongjoEco";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumMyeongjoEco/nanumMyeongjoEco-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
.nanumMyeongjoEco {
    font-family: "nanumMyeongjoEco";
}
.nanumMyeongjoEco400 {
    font-family: "nanumMyeongjoEco";
    font-weight: 400;
}
.nanumMyeongjoEco700 {
    font-family: "nanumMyeongjoEco";
    font-weight: 700;
}
.nanumMyeongjoEco800 {
    font-family: "nanumMyeongjoEco";
    font-weight: 800;
}